* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0 auto;
  background: #F7F1F1;
  color: #423F38;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.container {
  max-width: 1000px;
  padding: 0 2.4rem;
  margin: 0 auto;
}

.content__wrapper {
  margin-top: 130px;
}

a {
  text-decoration: none;
  color: #423F38;
}

i {
  color: #423F38;
  font-size: 1.3rem;
}

i :hover {
  cursor: pointer;
}

.fa-heart {
  color: #E28D8D;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "lato", sans-serif;
}

button,
.all__products__link__container {
  font-family: ff-uberhand-pro, sans-serif;
}

body,
input,
textarea,
a {
  font-family: open-sans, sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar__container {
  background: -webkit-gradient(linear, left top, right top, from(#B2C6BD), color-stop(50%, #B2C6BD), color-stop(75%, rgba(247, 241, 241, 0.8)), to(rgba(247, 241, 241, 0.5)));
  background: linear-gradient(to right, #B2C6BD 0%, #B2C6BD 50%, rgba(247, 241, 241, 0.8) 75%, rgba(247, 241, 241, 0.5) 100%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  position: relative;
  width: 100%;
}

.navbar__container .hamburger__menu__input {
  display: none;
}

.navbar__container .nav__list__container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navbar__container .nav__list__container .hamburger__label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 35px 30px;
  font-size: 1.6rem;
}

.navbar__container .nav__list__container .hamburger__label :hover {
  cursor: pointer;
}

.navbar__container .nav__list__container .nav {
  display: none;
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#B2C6BD), color-stop(20%, #B2C6BD), color-stop(40%, rgba(178, 198, 189, 0.8)), to(rgba(178, 198, 189, 0.5)));
  background: linear-gradient(to right, #B2C6BD 0%, #B2C6BD 20%, rgba(178, 198, 189, 0.8) 40%, rgba(178, 198, 189, 0.5) 100%);
  height: 100vh;
  width: 30vh;
  padding-top: 100px;
}

.navbar__container .nav__list__container .nav .nav__list {
  padding: 10px 0;
}

.navbar__container .nav__list__container .nav .nav__list li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
  font-size: 1.3rem;
}

.navbar__container .nav__list__container .nav .nav__list li .basket__icon__container {
  max-height: 23px;
}

.navbar__container .nav__list__container .nav .nav__list li .active {
  text-decoration: underline;
}

.navbar__container .nav__list__container .nav .nav__list li .active .fa-heart {
  text-decoration: none;
}

.navbar__container .nav__logo__container {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  z-index: 200;
}

.navbar__container .nav__logo__container .nav__logo {
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 10px;
  max-width: 100px;
}

.navbar__container .alt__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  padding-left: 0px;
  margin-top: 35px;
}

.navbar__container .basket__count,
.navbar__container .logout__user__x {
  background-color: #D4A591;
  font-size: 10px;
  font-weight: bold;
  color: #F7F1F1;
  border-radius: 50%;
  text-align: center;
  padding: 1px 1px;
  position: relative;
  left: 11px;
  bottom: 28px;
  z-index: 20;
  width: 17px;
  height: 17px;
  font-family: open-sans, sans-serif;
}

.navbar__container .logout__user__x {
  background-color: #CFD0C3;
  color: #423F38;
  font-size: 0.7rem;
}

footer {
  background: #E28D8D;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto 1fr;
      grid-template-rows: auto auto 1fr;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 40px;
}

footer .footer__logo__container {
  -ms-grid-column-align: center;
      justify-self: center;
}

footer .footer__logo__container .footer__logo {
  margin-top: 20px;
  max-width: 120px;
  margin-left: 10px;
}

footer .footer__social__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer__social__container .footer__social {
  font-size: 1.5rem;
}

footer .footer__info__container {
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
}

.standard__cta__btn {
  width: 300px;
  height: 40px;
  background-color: #423F38;
  color: #F7F1F1;
  border: none;
  font-size: 1.2rem;
}

.edit__btn {
  background-color: #CFD0C3;
  color: #262421;
}

.all__products__link__container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  font-size: 1.3rem;
}

.all__products__link__container .logo_btn {
  max-width: 50px;
}

.all__products__link__container:hover {
  cursor: pointer;
}

.all__products__link__container:hover .logo_btn {
  max-width: 60px;
}

.back_btn {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-size: 1.1rem;
}

.back_btn .back__arrow {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.6rem;
}

.herobanner__container {
  width: 100%;
}

.herobanner__img {
  background-image: url("../../logo/taisiia-shestopal-8IIZAnpRX30-unsplash.jpg");
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-position: top;
  background-repeat: no-repeat;
}

.all__products__grid,
.featured__container,
.favorite__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  gap: 30px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__card {
  max-width: 300px;
  position: relative;
}

.product__card .favorite__icon__container {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  top: -15px;
  right: -15px;
}

.product__card .favorite__icon__container .favorite__button {
  font-size: 2rem;
}

.product__card .product__image {
  width: 100%;
  height: 350px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__card .product__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__card .product__card__info .product__card__price {
  font-size: 0.9rem;
}

.product__card .button__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.pagination__container {
  display: none;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__container .pages__container p {
  font-size: 1.3rem;
  font-weight: bold;
}

.pagination__container .fa-chevron-left {
  display: none;
}

.pagination__container .page__arrow {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 1px solid #423F38;
  border-radius: 50%;
  padding: 4px 10px;
  color: #423F38;
  background-color: #F7F1F1;
  font-size: 1.5rem;
}

.pagination__container .page__arrow :hover {
  color: #F7F1F1;
  background-color: #423F38;
}

.filter__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.filter__container .filter {
  margin-top: 10px;
  max-width: 250px;
}

input,
textarea {
  border: 3px solid #D4A591;
  height: 40px;
  font-size: 0.9rem;
}

input:focus,
textarea:focus {
  outline: none;
  border: 3px solid #B2C6BD;
}

.about__img {
  max-width: 300px;
}

.about__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  font-size: 1.3rem;
}

.about__social i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.5rem;
}

.about__social h5 {
  margin: 10px 0px;
}

.about__social:hover i,
.about__social:hover h5 {
  color: #D4A591;
}

.details__img__fav__container {
  position: relative;
}

.details__img__fav__container .favorite__icon__container {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  top: -15px;
  right: -15px;
}

.details__img__fav__container .favorite__icon__container .favorite__button {
  font-size: 2rem;
}

.product__details__image {
  width: 100%;
  height: 350px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.heading__clearbtn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.heading__clearbtn__container .clearbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading__clearbtn__container .clearbtn p {
  margin-right: 10px;
}

.basket__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 30px;
}

.basket__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  gap: 20px;
}

.product__trash {
  font-size: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

.basket__info__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  row-gap: 10px;
}

.basket__info__container h5 {
  margin: 0px;
}

.basket__info__container .counter__container {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
}

.basket__info__container p {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  font-size: 0.7rem;
  -ms-grid-column-align: end;
      justify-self: end;
  margin: 0px;
}

.counter__icon {
  border: 2px solid #D4A591;
  font-size: 0.7rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 5px;
}

.count__container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0px 10px;
}

.basket__img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

hr {
  margin-top: 30px;
  border: 1px solid #D4A591;
}

.sum__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sum__container p {
  font-size: 0.9rem;
}

.basket__btn__container {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.login__form,
.add__product__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.input__container label {
  margin-bottom: 5px;
}

.input__container textarea {
  height: 100px;
}

.input__container .helper__text {
  font-size: 0.7rem;
  margin-top: 2px;
}

.featured__icon__contaienr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0px;
}

.featured__icon__contaienr .featured__checkbox {
  display: none;
}

.featured__icon__contaienr .featured__icon {
  font-size: 2.4rem;
}
/*# sourceMappingURL=style.css.map */