* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0 auto;
    background: getColour(backgroundwhite);
    font-family: $font-primary;
    color: getColour(textcolourprimary);
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1 0 auto;
}

.container {
    max-width: 1000px;
    padding: 0 2.4rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: getColour(textcolourprimary);
    font-family: $font-primary;
}

i {
    color: getColour(textcolourprimary);
    font-size: 1.3rem;
}

i :hover {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-heading;
}

button {
    font-family: $font-button;
}

.fa-heart {
    color: getColour(primaryred);
}