.herobanner__container {
    width: 100%;
}

.herobanner__img {
    background-image: url("../../logo/taisiia-shestopal-8IIZAnpRX30-unsplash.jpg");
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-position: top;
    background-repeat: no-repeat;
}